<ion-header>
  <ion-toolbar>
    <div style="display: flex">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Bible Verses</ion-title>
    </div>
    <div>
      <ion-searchbar placeholder="search Bible Verses"></ion-searchbar>
    </div>

  </ion-toolbar>

</ion-header>

<ion-content>
  <!-- <div class="buttons" style=" display: flex">
    <div class="left">
      <div>
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </div>

      <div>
        <ion-icon name="journal-outline"></ion-icon>
        <ion-label>Mark</ion-label>
      </div>
      <div>
        <ion-icon name="play-circle-outline"></ion-icon>
        <ion-label>Videos</ion-label>
      </div>
    </div>

    <div class="right">
      <div>
        <ion-icon name="search-outline"></ion-icon>
        </div>
      <div>
        <ion-icon name="menu-outline"></ion-icon>
      </div>
    </div>
  </div> -->

  <div class="bibleView">

    <div class="imgBx">
      <img src="https://i.swncdn.com/media/400w/via/15006-istockgetty-images-plussakepaint.jpg" alt="">
    </div>
    <div class="selectOpts">
      <select name="" id="">
        <option value="">John</option>
      </select>
      <!-- <select name="" id="">
      <option value="">ESV</option>
    </select> -->
      <ion-buttons>
        <ion-icon name="volume-high-outline"></ion-icon>
      </ion-buttons>
    </div>

    <div class="scripture">

      <h2>John 1</h2>
      <h3>And the Word Became the Flesh</h3>
      <p>1 In the beginning was the Word, and the Word was with God, and the Word was God.</p>

      <p>2 The same was in the beginning with God.</p>

      <p>3 All things were made by him; and without him was not any thing made that was made.</p>

      <p>4 In him was life; and the life was the light of men.</p>

      <p>5 And the light shineth in darkness; and the darkness comprehended it not.</p>

      <p>6 There was a man sent from God, whose name was John.</p>

      <p>7 The same came for a witness, to bear witness of the Light, that all men through him might believe.</p>

      <p>8 He was not that Light, but was sent to bear witness of that Light.</p>

      <p>9 That was the true Light, which lighteth every man that cometh into the world.</p>

      <p>10 He was in the world, and the world was made by him, and the world knew him not.</p>

      <p>11 He came unt</p>

    </div>
  </div>
</ion-content>
