<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title> LOA OUTREACH</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">

    <div class="box1">
      <p>Bible</p>
    </div>

    <div class="box2">
      <div class="innerBx">
        <p>Events</p>
      </div>

      <div class="innerBx">
        <p>Give</p>
      </div>

      <div class="innerBx">
        <p>Prayer</p>
      </div>
    </div>

    <div class="box3">
      <p>Pod Cast</p>
    </div>

    <!-- <h1>Buttons</h1>
    <ion-button>Button 1</ion-button>
    <ion-button size="small">Button 2</ion-button>
    <ion-button size="small" color="secondary">Button 3</ion-button>
    <ion-button size="small" color="warning">Button 4</ion-button>
    <ion-button size="small" color="warning" fill="outline">Button 5</ion-button>
    <ion-button size="small" color="warning" fill="outline" expand="full">Button 6</ion-button>
    <ion-button size="small" color="danger" fill="outline" expand="block">Button 7</ion-button>
    <ion-button size="small" color="success" expand="block">
      <ion-icon name="airplane" side=""></ion-icon>
      Button 8
    </ion-button> -->



  </div>

   <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="book-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button><ion-icon name="save"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="apps"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="trash"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <!--
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="person"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button><ion-icon name="save"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="hammer" color="warning"></ion-icon></ion-fab-button>
     </ion-fab-list>

      <ion-fab-list side="start">
      <ion-fab-button><ion-icon name="apps"></ion-icon></ion-fab-button>
      </ion-fab-list>

      <ion-fab-list side="end">
      <ion-fab-button><ion-icon name="trash"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon name="settings"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button><ion-icon name="save"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="apps"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="trash"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab> -->
</ion-content>
